<html>
    <head>
        <title>
           You should choose Management
        </title>
      <link rel="stylesheet" types="text/css" href="{{ url_for('static', filename = 'management.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'bootstrap.css') }}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>


    <body>
         <div class="bgimage">
           <nav class="navbar navbar-expand-md bg-info navbar-dark ">
             <div class="container">
                 <a href="/" class="navbar-brand text-warning font-weight-bold"><img src="/static/datahacker2.jpg" alt="Italian Trulli"></a>


                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">

                 <span class="navbar-toggler-icon"></span>

                 </button>

                 <div class="collapse navbar-collapse " id="collapsenavbar">
                     <ul class="navbar-nav ml-auto ">
                         <li class="nav-item">
                             <a href="technological" class="nav-link text-white">Tech Skill Checker</a>
                         </li>

                         <li class="nav-item">
                             <a href="logical" class="nav-link text-white">Logical Skill Checker</a>
                         </li>
                    <li class="nav-item">
                             <a href="team" class="nav-link text-white">Team</a>
                         </li>
                         <li class="nav-item">
                             <a href="contact" class="nav-link text-white"> Contact</a>
                         </li>
                          <li class="nav-item">
                             <a href="about" class="nav-link text-white">About Us </a>
                         </li>
                     </ul>
                 </div>
             </div>

             </nav>
             <br><br><br><br><br><br><br><br>
             <div class="jumbotron">
  <h1 class="display-4">You should choose Management</h1>
  <p class="lead">It provides you with the opportunity to choose from a wide range of industries. It benefits the students to have<br>
      a plethora of skills that they can showcase in their cover letter, resume and even in interviews for a desired job</p>


</div>

                <div class=" container text-center bg-dark" style="  font-size:18px; padding:9px; font-weight:700;">
            <p style="margin-top:0; padding:0; color: orange;">Designed and developed by team DATA HACKER</p>
        </div>
    </body>
</html>