<html>
    <head>
        <title>
            Our Team
        </title>
        <link rel="stylesheet" types="text/css" href="/static/teampagecss.css">
      <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>


    <body>


           <nav class="navbar navbar-expand-md bg-info navbar-dark  ">
             <div class="container">
                 <a href="/" class="navbar-brand text-warning font-weight-bold"><img src="/static/datahacker2.jpg" alt="Italian Trulli"></a>


                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsenavbar">

                 <span class="navbar-toggler-icon"></span>

                 </button>

                 <div class="collapse navbar-collapse " id="collapsenavbar">
                     <ul class="navbar-nav ml-auto ">


                        <li class="nav-item">
                             <a href="technological" class="nav-link text-white">Tech Skill Checker</a>
                         </li>

                         <li class="nav-item">
                             <a href="logical" class="nav-link text-white">Logical Skill Checker</a>
                         </li>
                    <li class="nav-item">
                             <a href="team" class="nav-link text-white">Team</a>
                         </li>
                         <li class="nav-item">
                             <a href="contact" class="nav-link text-white"> Contact</a>
                         </li>
                          <li class="nav-item">
                             <a href="about" class="nav-link text-white">About Us </a>
                         </li>


                     </ul>
                 </div>
             </div>

             </nav>


                          <section class="Ourteam">
                  <div class="container text-center ">
                      <h1>Our Amazing Team</h1>
                      <p>Meet our amazing team which are from different branches and domains, who all worked togetherly to accomplish this project. </p>

                  <div class="row teamsetting">
                      <div class="col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto">
                          <figure class="figure">
                              <img src="/static/newdivyank.jpeg" class="figure-img img-fluid rounded-circle" height="250px" width="250px">
                              <figcaption>
                                  <h4>Divyank Goyal</h4>
                                  <p class="figure-caption">ML Coder<br>Branch-IT</p>
                              </figcaption>
                          </figure>
                     </div>


                     <div class="col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto">
                          <figure class="figure">
                              <img src="/static/harshit12.jpg" class="figure-img img-fluid rounded-circle" height="250px" width="250px">
                              <figcaption>
                                  <h4>Harshit Raj</h4>
                                  <p class="figure-caption">Backend Developer<br>Branch-CSI</p>
                              </figcaption>
                          </figure>
                     </div>






                  </div>




                  <div class="row teamsetting">
                      <div class="col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto">
                          <figure class="figure">
                              <img src="/static/lakshay.jpeg" class="figure-img img-fluid rounded-circle" height="250px" width="250px">
                              <figcaption>
                                  <h4>Lakshay Kumar</h4>
                                  <p class="figure-caption">Front End Developer<br>Branch-CSE</p>
                              </figcaption>
                          </figure>
                     </div>


                     <div class="col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto">
                          <figure class="figure">
                              <img src="/static/ritwik.jpg" class="figure-img img-fluid rounded-circle" height="250px" width="250px">
                              <figcaption>
                                  <h4>Ritvik Rohatgi</h4>
                                  <p class="figure-caption">ML Coder, Content Writer<br>Branch-CSE</p>
                              </figcaption>
                          </figure>
                     </div>







                  </div>
                             </div>



             </section>
    <div class=" container text-center bg-dark" style="  font-size:18px; padding:9px; font-weight:700;">
            <p style="margin-top:0; padding:0; color: orange;">Designed and developed by team DATA HACKER</p>
        </div>
    </body>
</html>